:root {
  --branding-color: #090580;
  --secondary-color: #f4d3d3;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

nav {
  padding: 20px 0;
}

nav a {
  margin-left: 15px;
  color: #272142;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav ul {
  padding: 10px;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
}

nav .logo {
  max-height: 70px;
}

ul .nav-links {
  font-size: 16px;
  font-family: var(--default-font-family);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
}

.hero .homepage-intro {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 36px;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 20px;
  line-height: 2;
  color: #46458c;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  background: white;
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

.btn-hover:hover {
  background: var(--secondary-color);
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

.homepage-main-paragraph {
  font-family: var(--default-font-family);
  line-height: 2;
  font-size: 18px;
}

.homepage-second-paragraph {
  font-family: var(--default-font-family);
  font-size: 18px;
}

.certificate-heading {
  font-family: var(--heading-font-family);
  font-size: 64px;
}

.certificate-subheading {
  margin-left: 165px;
  font-family: var(--heading-font-family);
  margin-bottom: 15px;
}

.content-hero {
  padding: 50px 20px;
}

.content-heading {
  font-family: var(--heading-font-family);
  font-size: 72px;
}

.content-hero .project-paragraph {
  font-family: var(--default-font-family);
  font-size: 20px;
  color: #46458c;
}

.project-title {
  font-family: var(--heading-font-family);
  font-size: 46px;
}

.project-description {
  font-family: var(--default-font-family);
  font-size: 18px;
}

.images {
  border-radius: 10px;
}

.contact-hero {
  padding: 4px;
  margin: 50px;
}

.content {
  margin: 30px;
}

.contact-content {
  font-family: var(--default-font-family);
  font-size: 24px;
}

.contact-info {
  font-size: 18px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer h4 {
  font-size: 48px;
  font-family: var(--heading-font-family);
}

footer .contact-box p {
  margin: 0;
  margin-left: 7px;
  font-family: var(--default-font-family);
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-family: var(--default-font-family);
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--secondary-color);
  background-color: var(--branding-color);
}

footer p {
  font-family: var(--default-font-family);
}

@media (max-width: 900px) {
  nav ul {
    padding-left: 40px;
  }

  .hero .homepage-intro {
    font-size: 26px;
  }
  .hero h1 {
    font-size: 56px;
  }
  .hero h2 {
    font-size: 26px;
  }
  .hero p {
    font-size: 16px;
  }
  .btn-branding {
    font-size: 15px;
    line-height: 20px;
  }
  .homepage-main-paragraph .homepage-second-paragraph {
    font-size: 16px;
  }
  .certificate-heading {
    font-size: 40px;
  }

  .certificate-subheading {
    margin-left: 12px;
    font-size: 25px;
  }

  .project-hero .project-heading {
    font-size: 60px;
  }
  .project-hero .project-paragraph {
    font-size: 18px;
    line-height: 1.5;
  }
  .project-title {
    font-size: 40px;
  }
  .project-description {
    font-size: 20px;
    line-height: 1.5;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .content-heading {
    font-size: 45px;
  }
  footer .email-link {
    font-size: 20px;
  }
}
