:root {
  --branding-color: #090580;
  --secondary-color: #f4d3d3;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero .homepage-intro {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 36px;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 20px;
  line-height: 2;
  color: #46458c;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  background: white;
  color: var(--branding-color);
}

.btn-hover:hover {
  background: var(--secondary-color);
  color: var(--branding-color);
}

.homepage-main-paragraph {
  font-family: var(--default-font-family);
  line-height: 2;
  font-size: 18px;
}

.homepage-second-paragraph {
  font-family: var(--default-font-family);
  font-size: 18px;
}

.certificate-heading {
  font-family: var(--heading-font-family);
  font-size: 64px;
}

.content-hero {
  padding: 50px 20px;
}

.content-heading {
  font-family: var(--heading-font-family);
  font-size: 72px;
}

.project-paragraph {
  font-family: var(--default-font-family);
  font-size: 20px;
  color: #46458c;
}

.project-title {
  font-family: var(--heading-font-family);
  font-size: 46px;
}

.project-description {
  font-family: var(--default-font-family);
  font-size: 18px;
}

.content {
  margin: 30px;
}

.contact-content {
  font-family: var(--default-font-family);
  font-size: 24px;
}

.contact-info {
  font-size: 18px;
}
@media (max-width: 900px) {
  .hero .homepage-intro {
    font-size: 26px;
  }
  .hero h1 {
    font-size: 56px;
  }
  .hero h2 {
    font-size: 26px;
  }
  .hero p {
    font-size: 16px;
  }
  .btn-branding {
    font-size: 15px;
    line-height: 20px;
  }
  .homepage-main-paragraph .homepage-second-paragraph {
    font-size: 16px;
  }
  .certificate-heading {
    font-size: 40px;
  }

  .project-hero .project-heading {
    font-size: 60px;
  }
  .project-hero .project-paragraph {
    font-size: 18px;
    line-height: 1.5;
  }
  .project-title {
    font-size: 40px;
  }
  .project-description {
    font-size: 20px;
    line-height: 1.5;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .content-heading {
    font-size: 45px;
  }
}
